<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DashLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DashLink.Properties.Settings>
            <setting name="SetupDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="LinkUID" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkInputs" serializeAs="String">
                <value />
            </setting>
            <setting name="DoUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdminSettingLock" serializeAs="String">
                <value>False</value>
            </setting>
        </DashLink.Properties.Settings>
    </userSettings>
</configuration>